*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

.container{
     width: 100%;
     height: 100vh;
     background-color: #76EEC6;
     display: flex;
     justify-content: center;
     align-items: center;
     
}

.griglia{
     border: 1px solid black;
     display: flex;
     flex-wrap: wrap;
     width: 40%;
     aspect-ratio: 1;
}

.box{
     border: 1px solid black;
     width: calc(100% / 10);
     aspect-ratio: 1;
     display: flex;
     justify-content: center;
     align-items: center;
     cursor: pointer;
}

.azzurro{
     background-color: lightblue;
}
